@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap");
@import "tailwindcss";

* {
  margin: auto;
  padding: 12px;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}